body {
  background: #f5f5f5;
  color: #272822;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 8px 16px;
  max-width: 800px;
  margin: 0 auto;
}

blockquote {
  border-left: 3px solid rgba(0,0,0,0.21);
  padding-left: 12px;
  color: #666666
}
